spring:
  datasource:
    master:
      hikari:
        jdbc-url: jdbc:h2:mem:master_user;DB_CLOSE_DELAY=-1
        driver-class-name: org.h2.Driver
        username: sa
        password: ""
    slave:
      hikari:
        jdbc-url: jdbc:h2:mem:slave_user;DB_CLOSE_DELAY=-1
        driver-class-name: org.h2.Driver
        username: sa
        password: ""
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  jpa:
    hibernate:
      ddl-auto: none
